{% set module = module is defined ? module : '' %}
{% set menu = menu is defined ? menu : '' %}
{% set menu_collapsable = false %}

<div id="kt_app_sidebar"
     class="app-sidebar flex-column"
     data-kt-drawer="true"
     data-kt-drawer-name="app-sidebar"
     data-kt-drawer-activate="{default: true, lg: false}"
     data-kt-drawer-overlay="true"
     data-kt-drawer-width="225px"
     data-kt-drawer-direction="start"
     data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle"
>

    <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
        <a href="{{ path('user_dashboard') }}">
            <img alt="Logo" src="{{ asset('logo/kct.svg', 'img') }}"
                 class="h-30px app-sidebar-logo-default" style="max-width: 50px;">
        </a>

        <div id="kt_app_sidebar_toggle"
             class="app-sidebar-toggle btn btn-icon btn-sm h-30px w-30px rotate {% if sidebar == 'closed' %}active{% endif %}"
             data-kt-toggle="true"
             data-kt-toggle-state="active"
             data-kt-toggle-target="body"
             data-kt-toggle-name="app-sidebar-minimize"
            {% if sidebar == 'open' %}
                onclick="setCookie('sidebar', 'closed')"
            {% else %}
                onclick="setCookie('sidebar', 'open')"
            {% endif %}
        >
            <i class="ki-outline ki-double-left fs-2 rotate-180"></i>
        </div>
    </div>

    <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
        <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
            <div class="hover-scroll-y my-5 mx-3"
                 data-kt-scroll="true"
                 data-kt-scroll-activate="true" data-kt-scroll-height="auto"
                 data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
                 data-kt-scroll-wrappers="#kt_app_sidebar_menu"
                 data-kt-scroll-offset="5px"
                 data-kt-scroll-save-state="true">
                <div class="
                        menu
                        menu-column
                        menu-rounded
                        menu-sub-indention
                        fw-semibold
                    "
                     data-kt-menu="true"
                     data-kt-menu-expand="false">

                    {% if auth_user %}
                        <div class="menu-item">
                            <a href="{{ path('user_dashboard') }}" class="menu-link">
                                <span class="menu-icon"><i class="ki-outline ki-category fs-2"></i></span>
                                <span class="menu-title">Přehled</span>
                            </a>
                        </div>
                    {% endif %}

                    {% set my_id = 0 %}
                    {% if auth_user and auth_user.entity.regionAssociation %}
                        {% set my_id = auth_user.entity.regionAssociation.id %}
                    {% endif %}

                    {% if auth_user and (access_manager.canReadCentral or access_manager.canWriteDepartment) %}
                        <div {% if menu_collapsable %} data-kt-menu-trigger="click" {% endif %}
                            class="menu-item menu-accordion {{ module == 'member' or not menu_collapsable ? 'hover show' : '' }}">
                            <span class="menu-link">
                                <span class="menu-icon"><i class="ki-outline ki-user-tick fs-2"></i></span>
                                <span class="menu-title">Členská základna</span>
                                <span class="menu-arrow"></span>
                            </span>

                            <div class="menu-sub menu-sub-accordion">

                                {% if access_manager.canReadCentral %}
                                    <div class="menu-item">
                                        <a class="menu-link {% if menu == 'member_list' %}active{% endif %}"
                                           href="{{ path('member_list', {'sort': 'created_at', 'order': 'desc'}) }}">
                                            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                            <span class="menu-title">Přehled členů</span>
                                        </a>
                                    </div>
                                {% endif %}

                                {% if access_manager.canWriteDepartment %}
                                    {% set departments = access_manager.departments('w') %}
                                    {% if departments|length == 1 %}
                                        {% set my_id = departments|first %}
                                    {% endif %}

                                    <div class="menu-item">
                                        <a class="menu-link {% if menu == 'member_create' %}active{% endif %}"
                                           href="{{ path('member_create', {'association_id': my_id ? my_id : ''}) }}">
                                            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                            <span class="menu-title">Založení člena</span>
                                        </a>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}

                    {% if not auth_user %}
                        <div class="menu-item">
                            <a href="{{ path('member_create') }}" class="menu-link">
                                <span class="menu-icon"><i class="ki-outline ki-user-tick fs-2"></i></span>
                                <span class="menu-title">Registrace člena</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="{{ path('member_create') }}" class="menu-link">
                                <span class="menu-icon"><i class="bi bi-list fs-2"></i></span>
                                <span class="menu-title">Podmínky soukromí</span>
                            </a>
                        </div>
                    {% endif %}

                    {% if auth_user %}
                        <div {% if menu_collapsable %} data-kt-menu-trigger="click" {% endif %}
                            class="menu-item menu-accordion {{ module == 'association' or not menu_collapsable ? 'hover show' : '' }}">
                            <span class="menu-link">
                                <span class="menu-icon"><i class="ki-outline ki-setting-4 fs-2"></i></span>
                                <span class="menu-title">Struktura KČT</span>
                                <span class="menu-arrow"></span>
                            </span>

                            <div class="menu-sub menu-sub-accordion">
                                {% if access_manager.canReadCentral %}
                                    <div class="menu-item">
                                        <a class="menu-link {% if menu == 'association_central' %}active{% endif %}"
                                           href="{{ path('association_detail', {'id': 1}) }}">
                                            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                            <span class="menu-title">Ústředí</span>
                                        </a>
                                    </div>
                                {% endif %}

                                {% if access_manager.canReadRegion %}
                                    {% if my_id and access_manager.canReadRegion(my_id) %}
                                        <div class="menu-item">
                                            <a class="menu-link {% if menu == 'association_detail' and my_id == association.id %}active{% endif %}"
                                               href="{{ path('association_detail', {'id': my_id}) }}">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Moje oblast</span>
                                            </a>
                                        </div>
                                    {% endif %}

                                    <div class="menu-item">
                                        <a class="menu-link {% if menu == 'association_region_list' %}active{% endif %}"
                                           href="{{ path('association_list') }}?type_id=region">
                                            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                            <span class="menu-title">Oblasti</span>
                                        </a>
                                    </div>
                                {% endif %}

                                {% if access_manager.canReadDepartment %}
                                    <div class="menu-item">
                                        <a class="menu-link {% if menu == 'association_department_list' %}active{% endif %}"
                                           href="{{ path('association_list') }}?type_id=department">
                                            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                            <span class="menu-title">Odbory</span>
                                        </a>
                                    </div>
                                    {# only if can read all associations, lists all sections together #}
                                    {% if access_manager.canReadCentral %}
                                        <div class="menu-item">
                                            <a class="menu-link {% if menu == 'association_section_list' %}active{% endif %}"
                                               href="{{ path('association_list') }}?type_id=section">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Oddíly</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if auth_user and (access_manager.hasRole('Admin') or access_manager.canWriteRegion) %}
                        <div {% if menu_collapsable %} data-kt-menu-trigger="click" {% endif %}
                            class="menu-item menu-accordion {{ module == 'user' or not menu_collapsable ? 'hover show' : '' }}">
                            <span class="menu-link">
                                <span class="menu-icon"><i class="ki-outline ki-security-user fs-2"></i></span>
                                <span class="menu-title">Správa uživatelů</span>
                                <span class="menu-arrow"></span>
                            </span>

                            <div class="menu-sub menu-sub-accordion">
                                <div class="menu-item">
                                    <a class="menu-link {% if menu == 'user_list' %}active{% endif %}"
                                       href="{{ path('user_list') }}">
                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                        <span class="menu-title">Uživatelé</span>
                                    </a>
                                </div>

                                {% if access_manager.canWriteRegion %}
                                    <div class="menu-item">
                                        <a class="menu-link {% if menu == 'user_create' %}active{% endif %}"
                                           href="{{ path('user_create') }}">
                                            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                            <span class="menu-title">Založení uživatele</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if auth_user and access_manager.hasRole('Admin') %}
                        <div {% if menu_collapsable %} data-kt-menu-trigger="click" {% endif %}
                            class="menu-item menu-accordion {{ module == 'settings' or not menu_collapsable ? 'hover show' : '' }}">
                            <span class="menu-link">
                                <span class="menu-icon"><i class="ki-outline ki-setting fs-2"></i></span>
                                <span class="menu-title">Nastavení</span>
                                <span class="menu-arrow"></span>
                            </span>

                            <div class="menu-sub menu-sub-accordion">
                                <div class="menu-item">
                                    <a class="menu-link {% if menu == 'settings_list' %}active{% endif %}"
                                       href="{{ path('settings_list') }}">
                                        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                        <span class="menu-title">Nastavení</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
